[Unit]
Description=OpenGig.org
After=network.target

[Service]
Type=simple
ExecStart=/root/build/run.sh
# ExecStart=/root/.nvm/versions/node/v23.9.0/bin/node /root/build/run.sh
WorkingDirectory=/root/build
Restart=always
EnvironmentFile=/root/.env

[Install]
WantedBy=multi-user.target
